


 .card{
  overflow: visible;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  max-width: 300px;
  border-radius: 5px;
  float: left;
  margin: 1% 2% 1% 2%;
  display: inline-table;
}

.card-click{
  box-shadow: 0 0 50px rgba(0,0,0,0.3);

}


 @media(max-width: 320px){
  .card{
    margin-right: 8px;
  }
}

@media(min-width: 360px) and (max-width: 444px){
  .month-card-container .card{
    margin: 0 0 15% 0;
  }
  .card{

  }
}

@media(max-width: 395px){
  .card-date{
    top: 1px !important;
    left: 225px !important;
  }
}

 @media(min-width: 445px) and (max-width: 698px){
.inner-card-container  .card{
    margin: 5% 0 3% 22%;
  }
}

@media(min-width: 445px) and (max-width: 652px){
  .month-card-container .card{
    margin-bottom: 3%;
  }
}

@media(min-width: 653px) and (max-width: 950px){
  .month-card-container .card{
    margin: 2% 3% 3% 3%;
  }
}

@media(min-width: 951px) and (max-width: 1022px){
  .month-card-container .card{
    margin: 2% 2.5% 3% 2.5%;
  }
}

@media(min-width: 1023px) {
  .month-card-container .card{
    margin: 2% 3.5% 3% 3.5%;
  }
}

@media(min-width: 735px) and (max-width: 834px){
  .inner-card-container .card{
    margin: 5% 0 3% 7%;
  }
}

@media(min-width: 835px) and (max-width: 1023px){
  .inner-card-container .card{
    margin: 5% 0 3% 11%;
  }
}

@media(min-width: 1024px) and (max-width: 1100px){
  .card{
    margin: 3% 2.7% 4% 0.5%;
  }
}

 @media(min-width: 1038px) and (max-width: 1051px){
  .card{
    margin: 5% 1% 2% 1%;
  }
}

@media(min-width: 1060px) {
  .card{
    margin: 2% 1.5% 2% 1.5%;
  }
}

.card a {
  text-decoration: none;
}

.card-thumb{
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  -ms-transition: height 0.6s ease;
  -moz-transition: height 0.6s ease;
  transition: height 0.6s ease;
  overflow: hidden;
}

.card-thumb-click{
  opacity: 0.5;
  height: 80px;
  padding-bottom: 5px;

}


.card-body-click{
  height: 400px;
}

.card-thumb .main-image{
  opacity: 1;
  display: block;
  border-radius: 5px 5px 0 0;
  -moz-transition: height 0.6s;
  -ms-transition: height 0.6s;
  -webkit-transition: height 0.6s;
  -o-transition: height 0.6s;
  transition: height 0.6s;
  object-fit: fill;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -ms-transition: transform 0.6s;
  transition: transform 0.6s;

}

.card-date{
  position: absolute;
  left: 260px;
  top: -15px;
  margin-top: 5px;
  padding-top: 2px;
  z-index: 1;
  width: 55px;
  height: 55px;
  color: #fff;
  background-color: #ff7236;
  border-radius: 50%;
  text-align: center;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}


.card-location{
  font-weight: 100px;
  color: #fff;
  font-size: 10px;
  padding-left: 10px 0 0 50px;
  margin-top: 30px;
  -moz-transition: color 0.6s;
  -webkit-transition: color 0.6s;
  -ms-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
}

.card-location-click{
  color: #003652;
}

.card-date_year{
  font-size: 12px;
  -o-transition: font-size 0.2s;
  -ms-transition: font-size 0.2s;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  transition: font-size 0.2s;
  font-weight: bold;
  text-decoration: underline;
}

.card-date_month{
  font-size: 9px;
  position: relative;
  text-transform: uppercase;
  -moz-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  -webkit-transition: font-size 0.2s;
  -ms-transition: font-size 0.2s;
  transition: font-size 0.2s;
  top: -5px;
  padding-top: 9px;
}

.card-body{
  padding: 10px;
  position: relative;
  height: 80px;
  overflow: hidden;
  -moz-transition: height 0.6s ease;
  -ms-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.card-body-click{
  height: 300px;
  padding: 10px;
}

.card-category{
  background-color: #ff7236;
  position: absolute;
  bottom: 156px;
  left: 10px;
  border-radius: 5px 5px 0 0;
  padding: 3px 5px 2px 5px;
  z-index: 1;
  font-size: 11px;
  -o-transition: bottom 0.6s ease;
  -webkit-transition: bottom 0.6s ease;
  -ms-transition: bottom 0.6s ease;
  -moz-transition: bottom 0.6s ease;
  transition: bottom 0.6s ease;
}

.card-category-click{
  bottom: 376px;
}


.card-body_title {
  font-weight: 700;
  color: #003652;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.card-body_subtitle{
  font-weight: 100px;
  color: #003652;
  font-size: 12px;
  padding-bottom: 5px;
}

.card-body-description{
  font-size: 14px;
  color: white;
  -moz-transition: color 0.6s;
  -o-transition: color 0.6s;
  -ms-transition: color 0.6s;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.card-body-description-click{
  color: #003652;
}

.card-body-description-click:before{
  content:'';
  border: 1px solid #ff7236;
  display: block;
  margin-bottom: 10px;
  opacity: .4;
}


.card-footer_content a{
  text-decoration: none;
  color: #003652;
}

.card-footer_content:hover{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.fa-calendar-alt{
  padding: 10px;
}

.card-footer{
  padding: 10px 0 10px 10px;
  box-shadow: 0px -3px 2px rgba(0,0,0,0.1);
  margin-top: 20px;
  position: relative;
}

.art-card-header{
  padding-top: 20px;

}
.art-card-header h1{
  padding-bottom: 10px;
}

.art-card-header p{
  text-align: center;
  color: #fff;
}

.header-gradient{
  background-image:linear-gradient(to bottom, #022437, 60%, #fff);
  background-color: white;
  height: 400px;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}

 .outer-card-container{
  margin-top: -400px;

}

.art-footer{
  text-align: center;
}
.art-footer h1{
  padding-top: 15px;
}

.art-footer p{
  padding: 15px;
}

.expand-container{
  position: absolute;
  right: 1px;
  top: 70px;
  transition: color 0.3s;
}

.expand-container:hover{
  cursor: pointer;
  box-shadow: 2px black;
}

.expand-container:hover .dashicons-arrow-up-alt2{
  color: #ff7236;
}

.dashicons-arrow-up-alt2{
  position: absolute;
  right: 5px;
  top: -15px;
  -webkit-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -ms-transition: transform 0.6s;
  transition: transform 0.6s;

}

.details{
  font-size: 9px;
  position: relative;
  transition: opacity 0.3s;
  opacity: 1;
  margin-right: 5px;
}
.details-click{
  opacity: 0;
}

.expand-arrow-click{
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.month-header, .local-author-event-header, .local-artist-event-header{
  color: #fdbe12;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  padding-top: 30px;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.month-card-container, .flex-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
