/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .gallery-view{
    display: block !important;
  }
}

.art-header > .container-fluid{
  text-align: center;
  background-color: #022437;
  padding-bottom: 60px;
}

.art-footer{
  text-align: center;
  background-color: #022437;
  padding: 15px;
}


.artist-links > .btn{
  margin: 5px;
  max-width: 340px;
  overflow: hidden;
  font-size: 1.3rem;
}


.section-block{
  padding: 25px;
  position: relative;
  border-radius: 3px;
  z-index: 2;
}

.section-block-slider{
  background-color: #fcfbf8;
}

.section-block-left{
  -webkit-box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.5);
  z-index: 3;
}

.section-block-right{
  -webkit-box-shadow: -1px -1px 3px -2px rgba(0,0,0,0.5);
  box-shadow: -1px -1px 3px -2px rgba(0,0,0,0.5);
  z-index: 3;
}

.para-container{
  width: 100%;
  margin-top: 15px;
}

.para-container > p{
  font-size: 13px !important;
}

.gallery-location{
  margin: 5px 0;
  font-size: 13px;
  color: #cc262d;
}

.link-container{
  width: 100%;
}

.nav-circles{
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 2px solid #ff7236;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-circles > .block-links{
  color: #ff7236 !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-circles > .block-links > i{
  font-size: 1.8rem;
  margin-top: 10px;
}

.nav-circles:hover{
  background-color: #ff7236;
}

.nav-circles:hover .block-links{
  color: white !important;
}

.event-date-bubble-container{
  width: 75px;
  height: 75px;
  color: white;
  background-color: #ff7236;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  position: absolute;
  right: 25px;
  top: 5px;
  text-align: center;
}

.gallery-view{
  font-size: 13px;
  margin: 0;
  display: none;
}

.ap-month{
  font-size: 20px;
}

.ap-year{
  font-size: 15px;
}

.event-title-container{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid black;
  margin-top: 55px;
}

.artist-name{
  margin: 0;
}

.exhibit-name{
  margin: 0;
  margin-top: -6px;
}

.slider{
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.slider-container{
  min-width: 300px;
  max-width: 700px;
  max-height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.picture-row{
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-container{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

}

.left-arrow-container{
  left: 0;
  top: 0;
}

.right-arrow-container{
  right: 0;
  top: 0;
}

.left-arrow, .right-arrow{
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
          box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  border-radius: 50%;
  background: #f7f7f7;
  fill: #c7c7c7;
}

.left-arrow:hover, .right-arrow:hover{
  cursor: pointer;
}

.slider-container:hover .arrow-container{
  opacity: 1;
}

.slider-container:hover .expand-icon-container{
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
  opacity: 1 !important;
}


.dot-container{
  position: absolute;
  top: 20px;
  font-size: 12px;
  left: 50%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-dots{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(238,238,238, 0.6);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  margin: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
          box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.nav-dots:hover{
  background-color: white;
}

.nav-dots.selected{
  background-color: #fff;
  -webkit-transform:scale(1.5);
      -ms-transform:scale(1.5);
          transform:scale(1.5);
}

.caption-container{
  position: absolute;
  border-radius: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 12px;
  bottom: 40px;
  left: 0;
  color: white;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}

.carousel-img{
  max-width:100%;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.carousel-img:hover {
  opacity: 0.8;
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel-img:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.expand-icon-container{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  border-radius: 2px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.expand-icon-container:hover{
  cursor: pointer;
  -webkit-transform: scale(1.5) !important;
      -ms-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

.modal {
  display: none; /* Hidden by default */
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 90vh;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.6s;
  animation-name: zoomIn;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoomIn {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoomIn {
  from {-webkit-transform:scale(0);transform:scale(0)}
  to {-webkit-transform:scale(1);transform:scale(1)}
}

@-webkit-keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

.close {
  position: absolute;
  z-index: 99999;
  top: 55px;
  right: 25px;
  color: white;
  opacity: 1 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.marquee-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align:left;
  padding: 20px;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.marquee-text{
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  padding: 0 15px;
  text-align: center;
}

.notification{
  position: absolute;
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  right: -1000px;
  opacity: 0;
  visibility: none;
  color: white;
}

.notification > p{
  font-size: 13px;
}

.notification.show{
  display: block;
  left: 0;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.marquee-nav-icons{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  font-size: 25px;
  background: none;
  border: none;
  margin-top: -10px;
  padding: 5px;
  color: #3a364e;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.marquee-nav-icons:hover{
  cursor: pointer;
}

#previous{
  left: 0px;
  z-index: 9999;
  color: white;
}

#previous:hover{
  background-color: transparent;
}

#next{
  z-index: 9999;
right: 0px;
color: white;
}

#next:hover{
  background-color: transparent;
}
