/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bookologist-container{
  min-height: 300px;
  background-color: #FDBE12;
}

.header-row{
  margin: 40px 50px 0px 50px;
}

@media (max-width: 600px) {
  .header-row{
    margin: 10px;
  }
}

@media (max-width: 991px){
  .header-left{
    margin-top: 35px;
  }
}

.header-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.header-big-text{
  margin-bottom: 15px;
  text-shadow: .5px .5px .5px rgba(0,0,0,0.3);
  font-size: 30px;
}

.center-content p{
  text-align: left !important;
}

.header-text{
  color: white;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

/* .header-right{
  display: flex;
  justify-content: center;
  max-width: 550px;
} */

.header-svg{
  width: 100%;
  position: relative;
  top: -1px;
  left: -2px;
}

/* .bookologist-logo{
  width: 100% !important;
} */

.blog-widget-container{
  -webkit-box-shadow: 1px 8px 7px 2px rgba(0,0,0,0.4);
          box-shadow: 1px 8px 7px 2px rgba(0,0,0,0.4);
  padding: 0rem;
  background-color: #004765;
  padding-bottom: 6rem;
}

@media (max-width: 650px){
  .container{
    width: 90% !important;
  }
}
