/* Locations Template */
.emphasis_section{
  height: 500px;
  /* padding: 9vw 9vw; */
}
@media(max-width: 768px){
  .emphasis_section{
    height: auto;
  }
}

.legend_table_container{
  border-top-right-radius: 5px;
  /* opacity: 0.1; */
  transition: opacity 0.2s ease-in-out;
}
.legend_table_container:hover{
  /* opacity: 1; */
  cursor: pointer;
}

.legend_table tr td:nth-child(2){
  width: 70%;
}

td.locations_map_link:hover{color: #ff7236}
.map_infodiv h5{text-transform: initial;}
.map_infodiv a{font-size: 12px; padding: 5px 10px; margin-top: 5px;}

.location-map-section .row .col-lg-6,
.location-map-section .row .col-xs-12{
  padding: 0;
}

.location-image-section .row{
  margin: 0;
}

.location-image-section{
  padding: 7px 7px;
  background-color: #003652;
}

.location-image-section .row .col-md-4,
.location-image-section .row .col-sm-6,
.location-image-section .row .col-xs-12{padding: 7px 7px;}

.location_card_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 43, 66, 0.3);
}
.location_card_overlay:hover{
  background-color: rgba(0, 43, 66, 0.8);
}

.location_card_overlay .location_tile_name{
  opacity: 1;
  color: white;
  transition: opacity 0.2s ease-in-out;
}
.location_card_overlay:hover .location_tile_name{
  opacity: 0;
}


.location_card_overlay .location_branch_hours{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.location_card_overlay:hover .location_branch_hours{
  opacity: 1;
  display: inline;
}


/* Location Template */
.location_page_image, .location_meeting_room_image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

@media(max-width: 768px){
  .location_page_image, .location_meeting_room_image{
    max-height: 350px;
    min-height: 300px;
  }
}

.top_location_row{
  position: relative;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.25);
}

#location_hours_table tr td:first-child{
  width: 50%;
}


.location_view_more_events{
  text-align: right;
}
@media(max-width: 768px){
  .location_view_more_events{
    text-align: left;
  }
}

.location_event_card_container{
  height: 400px;
  padding: 0 10px;
}

@media(max-width: 768px){
  .location_event_card_container{
    height: auto;
    margin-bottom: 15px;
  }
  .location_event_card{
    padding-bottom: 40px;
  }
}

.services-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services-container > li{
  list-style: none;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #28a745;
  font-size: 14px;
  font-weight: 200;
  border-radius: 10px;
  padding: 2px 7px;
  margin: 5px 5px 5px 0px;
}

.services-container > li:hover{
  opacity: 0.8;
}

.services-container > li > i{
  font-size: 13px;
  margin-right: 2px;
}

.location_event_card {
  background-color: white;
  height: 100%;
}
#location_event_title{font-size: 1.5vw;}
@media(min-width: 1200px){#location_event_title{font-size: 20px;}}
@media(max-width: 768px){#location_event_title{font-size: 3vw;}}
@media(max-width: 500px){#location_event_title{  font-size: 15px;}}
