.collapsible-container{
  width: auto;
  height: 100%;
}

.text-container{
  max-height: 0px;
  overflow: hidden;
  transition: padding .2s ease, max-height .5s ease;
  /* background-color: #e2dfd9; */
  border-radius: 0px 0px 5px 5px;
}

.text-container.expand{
  /* max-height: 3000px; */
  padding: 10px;
}

.faq-header{
  padding: 10px;
  cursor:pointer;
  color: #3e3e3e;
  display: inline-block;
  text-transform: none !important;
}

.faq-description li{
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
}

.dashicons-minus{
  display: none;
}

.dashicons-minus, .dashicons-plus{

  float: left;
  cursor: pointer;
  color: #ff7236 !important;
}

.faq-header-container{

  padding-top: 10px;
  height: fit-content;
}

.collapsible-container > div.faq-header-container:nth-child(4n + 1){
  background-color: #e0ded4;
}

.collapsible-container > div.text-container:nth-child(4n + 2){
  background-color: #e0ded4;
}

h2.faq-header:hover{
  color: #ff7236;
}

.otter-img{
  width: 50% !important;
  height: 50% !important;
}



@media (min-width: 340px) and (max-width: 500px ) {
  .local-author-event-header{
    font-size: 35px;
  }

}
