.ol_app_container{
  margin-top: 35px;
  text-align: center;}

.ol_app_row, .ol_button_row{
  margin: 0 auto;
  max-width: 1400px;
}

.ol_app_row{
  padding-bottom: 35px;
}

.ol_app_div{
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin: 0 auto;
}

.ol_title{margin-top: 10px;}
.ol_des{max-width: 200px; margin: 0 auto;}
