/* top menu: 40px +
nav-container margin: 30px +
nav-container: 105px +
//bottom margin is 30px */

header.page-entry-header{
  background-color: #003652;
  color: white;
  padding: 20px 0;
}
header.featured-entry-header{
  background-color: #003652;
  color: white;
  padding: 10px 0;
}

#page-entry-header-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}
#breadcrumbs-container{
  display:flex;
  /* align-items:center; */
  justify-content: center;
}

.page-header-image{
  background-position: center 33%;
  background-size: cover;
  height: 205px;
}
.page-header-default-image{
  background-position: center 45%;
  background-size: cover;
  height: 205px;
}

@media(max-width: 550px){
  .page-header-image, .page-header-default-image{
    height: 67px;
  }
  h1.entry-title{
    font-size: 23px;
  }
  #page-entry-header-container{
    flex-direction: column;
  }
  header.page-entry-header{
    padding: 10px 0;
  }
}

.page-header-image-cover{
  background: rgba(0, 40, 60, 0.85);
  width: 100%;
  height: 100%;
}












footer.entry-footer{
  margin-top: 30px;
}
